<app-menu></app-menu>

<!-- Blog Inner header (Blog post) -->

<div class="blog_inner">
  <div class="container">
    <div class="blog_header">

      <div class="blog_data">

        <div class="data_img_blog">
          <div>
            <img src="assets/img/Profile picture.png" alt="">
          </div>
          <div class="data_name_block">
            <h3 class="data_name">Andrew Jonson</h3>
            <p class="posted_data"><span>Post on 27th January 20022</span></p>
          </div>
        </div>

        <p class="data_blog_text">Step-by-step guide to choosing great font oairs</p>
        <div class="star_block">
          <img class="startup_img" src="assets/img/shuttle.png" alt="">
          <a class="startup" href="#">Srartup</a>
        </div>

      </div>

      <div class="blog_images">
        <img src="assets/img/woman-wearing.png" alt="">
      </div>

    </div>
  </div>
</div>
<!-- blog body content --- (blog post) -->

<div class="blog_body">
<div class="container">
  <div class="body_content">
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Non blandit massa enim nec scelerisque</li>
      <li>Neque egestas congue quisque egestas</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p>
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p>
  </div>
</div>
</div>


<!-- other posts (blog ppost) -->

<div class="read_next">
  <div class="container">
       <h2>What to read next</h2>
    <div class="next_block">

      <div class="next">
        <img src="assets/img/next1.png" alt="">
        <p>By <span> John Doe </span> l   Aug 23, 2021 </p>
        <h4>A UX Case Study Creating a Studious Environment for Students: </h4>
        <p class="next_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      </div>

      <div class="next">
        <img src="assets/img/next2.png" alt="">
        <p>By <span> John Doe </span> l   Aug 23, 2021 </p>
        <h4>A UX Case Study Creating a Studious Environment for Students: </h4>
        <p class="next_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      </div>

      <div class="next">
        <img src="assets/img/next3.jpg" alt="">
        <p>By <span> John Doe </span> l   Aug 23, 2021 </p>
        <h4>A UX Case Study Creating a Studious Environment for Students: </h4>
        <p class="next_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      </div>
    </div>
    <hr>
  </div>
</div>


<!-- /* Join our team - - - block10 */ -->

<div class="join_our_team">
  <div class="container">
    <app-join-now [element]="joinNew"></app-join-now>
  </div>
</div>

<!-- <footer> -->

<app-footer></app-footer>

