<footer>
  <div class="container">

    <div class="navbar_footer">
      <div class="logo_footer">
        <a href="#"><img src="assets/img/Logo.png" alt="Logo"></a>
      </div>
      <div class="link_list_footer">
        <ul>
          <li><a routerLink=""  routerLinkActive="active">Home</a></li>
          <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
          <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="active">Contact us</a></li>
          <li><a routerLink="/privacyPolicy" routerLinkActive="active">Privacy Policy</a></li>
        </ul>
      </div>
    </div>

    <div class="footer_subscribe">
      <div class="footer_subscribe_1">
        <p class="subscript_text">Subscribe to our news letter to get latest updates and news</p>
      </div>

      <div class="footer_subscribe_1">
        <form action="">
          <label for="">
            <input type="email" name="email">
          </label>
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="footer_adres">
      <div class="footer_adres_one">
        <h6>Finstreet 118 2561 Fintown</h6>
        <p>Hello@finsweet.com  020 7993 2905</p>
        <a routerLink="login-page">Login Page</a>
      </div>

      <div class="footer_adres_social">
        <a target="_blank" href="https://www.facebook.com/"><img src="assets/img/Negative1.png" alt="facebook"></a>
        <a target="_blank" href="https://www.instagram.com/"><img src="assets/img/Negative2.png" alt="instagram"></a>
        <a target="_blank" href="https://www.linkedin.com/"><img src="assets/img/Negative3.png" alt="linkedin"></a>
        <a target="_blank" href="https://www.twitter.com/"><img src="assets/img/Negative4.png" alt="twitter"></a>
      </div>
    </div>

  </div>
</footer>
